@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.logo{
    width: 40px;
    height: 40px;
    transition: all linear 0.5s;
}
.span-logo{
    font-family:italic;
}

.nav{
    position:fixed;
    
}

/* .navbar-nav{
    float: right;
} */
#navItem1,#navItem2,#navItem3,#navItem4,#navItem5{
    color: #f4f4f5;
    font-family: "Roboto";
    transition: all linear 0.5s;
    margin-right: 20px;
    text-decoration: none;
    padding:6px;
}

#navItem1:hover,#navItem2:hover,#navItem3:hover,#navItem4:hover,#navItem5:hover{
    color: #f4f4f5;
    border-bottom : 3px solid #a6a0a0;
}

.active {
    background-color: #88878a;
    border-radius: 8px;
    /* padding: 6px; */
}

.Home-section {
    background-image: url("./assests/backgroundHome.jpg");
    height: 100vh;
    background-size: cover;
}
.Home-heading {
    color: white;
    font-size: 54px;
    font-weight: 600;
}
.Home-caption {
    color: white;
    font-style: italic;
    font-size: 24px;
    font-weight: 400;
}

.Home-designation {
    color: white;
    font-size: 24px;
    font-weight: 600;
}

.aboutBtn{
    font-family: "Roboto";
    font-weight:600;
    font-size:18px;
    padding: 15px;
}

@media only screen and (max-width: 768px) {
    #navItem1,#navItem2,#navItem3,#navItem4,#navItem5{
        text-align: center;
    }

    .Home-heading {
        color: rgb(17, 16, 16);
        font-size: 36px;
        font-weight: 600;
    }
    .Home-caption {
        color: rgb(10, 10, 10);
        font-style: italic;
        font-size: 18px;
        font-weight: 400;
    }
    
    .Home-designation {
        color: rgb(14, 14, 14);
        font-size: 18px;
        font-weight: 600;
        background: linear-gradient(to right, #f6f8f8 0%,#645c5c 40%,#464545 70%, #e6e4e9 100%);
	    -webkit-background-clip: text;
	    -webkit-text-fill-color: transparent;
    }
    
    .aboutBtn{
        font-family: "Roboto";
        font-weight:600;
        font-size:12px;
        padding: 10px;
    }
    
}


.about-section {
    background-color: rgb(252, 248, 248);
}
.about-section-img {
    width: 270px;
}

.section-heading {
    color: #141414;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
}

.about-section-description {
    color: #979fa5;
    font-family: "Roboto";
    font-size: 16px;
}

.about-section-para {
    color: #6e6f70;
    font-family: "Roboto";
    font-size: 24px;
}

.mx-2 {
    margin-right: 0.5rem !important;
    margin-left: 0.5rem !important;
}

.my-2 {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
}

/* .btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
    .btn {
        transition: none;
    }
}

.btn:hover {
    color: #212529;
} */

.btn-social {
    height: 2.5rem;
    width: 2.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border-radius: 100%;
}